
.category-list {
    display: flex; /* תצוגה בשורה */
    gap: 10px; /* מרווח בין הקטגוריות */
    padding: 0;
    list-style: none; /* ללא עיגולים */
    margin: 0;
}

.category-item {
    flex-shrink: 0; /* מונע כיווץ של האלמנטים */
}

.category-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #C49A94; /* צבע אפור */
    background-color: #ffff; /* רקע אפור בהיר */
    border: 1px solid #D0B0A3;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.category-button:hover {
    background-color: #B47F78; /* שינוי רקע בריחוף */
}

.category-button.active, button[aria-selected="true"] {
    background-color: #C49A94; /* ירוק */
    color: white; /* טקסט לבן */
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button[aria-selected="true"]:hover {
    background-color: #B47F78; /* צבע כהה יותר בריחוף */
}
