body {
    font-family: Arial, sans-serif;
    background-color: #F6ECEA; /* צבע רקע כללי */
    color: #333;
    margin: 0;
    padding: 0;
}
.container {
    text-align: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
}

.header {
    margin-bottom: 40px;
}

.header h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.user-greeting {
    margin-bottom: 30px;
}

.user-greeting h2 {
    font-size: 24px;
    color: #333;
}

.details-progress-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.card {
    width: 45%;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative; /* מאפשר מיקום יחסי לכפתור */
}

.card h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 2px solid #F3E3DC;
    padding-bottom: 10px;
    text-align: center; /* מרכז את הכותרת */
}

.card p {
    font-size: 16px;
    margin: 15px 0; /* רווחים גדולים יותר בין השורות */
    color: #555;
}

.button-container {
    position: absolute;
    bottom: 10px; /* מיקום הכפתור בתחתית המלבן */
    right: 10px; /* מיקום בפינה הימנית */
}

.change-button {
    background-color: #C49A94;
    color: white;
    padding: 10px 20px;
    border-radius: 20px; /* קצוות מעוגלות */
    font-size: 16px;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.change-button:hover {
    background-color: #B47F78;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}



.recipe-links {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}

.recipe-links a {
    text-decoration: none;
    color: #C49A94;
    font-size: 18px;
    padding: 10px 30px;
    border: 2px solid #C49A94;
    border-radius: 30px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.recipe-links a:hover {
    color: white;
    background-color: #B47F78;
}

.footer {
    margin-top: 50px;
    text-align: center;
    font-size: 14px;
    color: #777;
}

/* Existing CSS... */

.food-title {
    margin-top: 30px;
    font-size: 24px;
    color: #C49A94;
    text-align: center;
    font-weight: bold;
}

.bmi-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.bmi-table th, .bmi-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.bmi-table th {
    background-color: #C49A94;
    color: white;
}

#progressGraph {
    width: 100%;
    max-width: 700px;
    height: 400px;
    margin: 20px auto;
    display: block;
}
