body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  transition: margin-left 0.3s ease;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #F3E3DC;
  overflow-x: hidden;
  transition: width 0.3s ease;
  padding-top: 60px;
  z-index: 9999;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 0px 16px;
}

.sidebar ul li a {
  padding: 10px;
  color: black;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  border-radius: 10px;
}

.sidebar ul li a:hover {
  background-color: #B47F78;
}

#content {
  transition: margin-left 0.3s ease;
}

.close-btn {
  font-size: 30px;
  background-color: transparent;
  color: black;
  border: none;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.close-btn:hover {
  color: #B47F78;
}

.logo-section {
  display: flex;
  align-items: center; /* יישור אנכי של הלוגו והטקסט */
  justify-content: center; /* ממרכז אופקית בתוך התפריט */
  gap: 10px; /* ריווח בין הלוגו לטקסט */
  border-bottom: 2px solid #B47F78; /* קו תחתון */
  width: 90%; /* קו ההפרדה מתאים עצמו לתוכן */
  margin: 5px auto; /* ממקם את הקטע במרכז */
}

.logo {
  width: 50px; /* רוחב הלוגו */
  height: 50px; /* גובה הלוגו */
}

.brand {
  font-size: 20px; /* גודל הטקסט */
  font-weight: bold; /* משקל גופן */
  color: #B47F78; /* Olive green */
}

.sidebar .bottom-section {
  position: absolute;
  bottom: 60px; /* התאמה של הגובה כדי להרים את הכפתור */
  width: 100%; /* הרחבה לרוחב מלא */
  display: flex;
  justify-content: center;
  align-items: center; /* יישור אנכי */
}

.sidebar .personal-area {
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #D0B0A3;
  color: white;
  border: none;
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* הוספת צל לכפתור */
}

.sidebar .personal-area:hover {
  background-color: #C49A94; /* צבע רקע כהה יותר בריחוף */
}


.sidebar .personal-area .icon {
  font-size: 20px; /* גודל האייקון */
  color: #B47F78;
}
